.about{
    padding:150px 0;
}
.about h2{
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    margin-bottom:40px;
}
.about__bg{
    background-image:url("../images/about-bg.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 464px;
}
.about p{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.02em;
}