.enter {
    text-align: center;
    min-height: 100vh;
    padding-top: 26px;
}



form {
    width: 600px;
    margin: 0 auto;
}

form > input {
    width: 100%;
    margin-bottom: 50px;
    border: 1px solid #FFFFFF;
    padding: 14px 10px;
    background: transparent;
    margin-top: 5px;
    color: #fff;
}

form p {
    text-align: left;
}

.enter__check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}

.enter__check input[type="checkbox"] {
    border: 1px solid #FFFFFF;
    width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    vertical-align: middle;
    margin:0 10px 0 0;
}

form button {
    border: 1px solid #FFFFFF;
    background: transparent;
    padding: 18px 50px;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;

}
